.createText {
  font-size: 30px;
  padding: 10px;
}

.Write {
  display: flex;
}

#title_txt {
  width: 100%;
  padding-bottom: 30px;
  border: none;
  font-size: 30px;
  border-bottom: solid 1px #ababab;
  font-weight: bold;
  text-align: center;
}

.textarea {
  width: 50%;
  height: 100vh;
  padding: 20px;
  font-size: 2rem;
  outline: none;
}

.markdown {
  width: 50%;
  height: 100vh;
  padding: 20px;
  outline: none;
  text-align: center;
}

.Readmarkdown {
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  outline: none;
  text-align: center;
}
