/*NewProject.js*/
.back {
  margin-left: 550px;
}

.chooseBtn {
  position: absolute;
  left: 950px;
  border-radius: 10px;
  font-size: small;
  background-color: #ffffffea;
}

.chooseBtn:hover {
  background-color: #a6a6a79d;
}

.uploadBtn {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.uploadBtn:hover {
  background-color: #605f61de;
  box-shadow: 0px 15px 20px rgba(164, 167, 165, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

input {
  width: 300px;
}

/*ProjectModify.js*/
.modifyBtn {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.modifyBtn:hover {
  background-color: #605f61de;
  box-shadow: 0px 15px 20px rgba(164, 167, 165, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

/*ProjectDetail.js*/
.modify {
  color: black;
  background-color: #fff;
  display: block;
  text-decoration: none;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  font-size: small;
  position: relative;
}

.modify:hover {
  color: black;
  box-shadow: rgba(191, 221, 195, 0.7) 0 0px 0px 40px inset;
}

.delete {
  color: black;
  background-color: #fff;
  display: block;
  text-decoration: none;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  font-size: small;
  position: relative;
  bottom: 33.5px;
}

.delete:hover {
  color: black;
  box-shadow: rgba(241, 185, 163, 0.7) 0 0px 0px 40px inset;
}

.teamBtn {
  width: 100px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.teamBtn:hover {
  background-color: #605f61de;
  box-shadow: 0px 15px 20px rgba(164, 167, 165, 0.4);
  color: #fff;
}
