.table{
    border-collapse: separate;
    border-spacing: 0px;
    text-align: center;
    line-height: 1.5;
    margin: 20px 10px;
    margin-top: -21px;
    margin-left: auto;
    margin-right: auto;
  }
  
.table td{
      padding: 7px;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      color: rgb(8, 8, 8);
      background: #eee;
}

.mainTable{
    border-collapse: separate;
    border-spacing: 0px;
    text-align: center;
    line-height: 1.5;
    margin: 20px 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .mainTable th{
    padding: 7px;
    font-weight: bold;
    vertical-align: top;
    color: rgb(8, 8, 8);
    background: #a4b2b9 ;
  }

.modify{
  margin-left: 70%
}
.delete{
  margin-left:75%
}
  