.mainTable {
  border-collapse: separate;
  border-spacing: 0px;
  text-align: center;
  line-height: 1.5;
  margin: 20px 10px;
  margin-left: auto;
  margin-right: auto;
}

.mainTable th {
  padding: 7px;
  font-weight: bold;
  vertical-align: top;
  color: rgb(8, 8, 8);
  background: #a4b2b9;
}

.write {
  margin-left: 1070px;
}
